/* Custom properties */
:root {
  /* Colors */
  --white: hsl(0 100% 100%);
  --black: hsl(0 0% 0%);
  --grey-550: hsl(180 18% 40%);
  --grey-500: hsl(186 14% 43%);
  --grey-400: hsl(184 14% 56%);
  --grey-300: hsl(184 19% 68%);
  --grey-200: hsl(185 41% 84%);
  --grey-50: hsl(189 47% 97%);
  --green-900: hsl(183 100% 15%);
  --green-800: hsl(183 85% 21%);
  --green-750: hsl(183 79% 24%);
  --green-400: hsl(172 67% 45%); 
  --green-200: hsl(173 61% 77%);
  --orange-400: hsl(13 70% 60%);
  /* Spacing */
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
  --spacing-1000: 5rem;
}

/* Typography */
.text-preset-1 {
  font-size: 3rem;
  line-height: 4.4375rem;
  letter-spacing: -0.0625rem;
}
.text-preset-2 {
  font-size: clamp(2rem, 7.1111vw + .3333rem, 3rem);
  letter-spacing: -0.041875rem;
}
.text-preset-3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.text-preset-4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.text-preset-5 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-preset-6 {
  font-size: 0.8125rem;
  line-height: 1.1875rem;
}

/* Reset & General styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  background-color: var(--grey-200);
}

/* Header */
.logo {
  margin-block-start: var(--spacing-600);
  margin-block-end: var(--spacing-400);
  margin-inline: auto;
}

/* Main */
.container {
  background-color: var(--white);
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  padding-block: var(--spacing-400);
  padding-inline: var(--spacing-300);
}

/* Input container */
.input-group {
  margin-block-end: var(--spacing-400);
  padding-inline: var(--spacing-100);
}

.input-group-header {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--spacing-100);
  color: var(--grey-500);
}

.input {
  width: 100%;
  padding-block: var(--spacing-100);
  padding-inline: var(--spacing-200);
  font-weight: inherit;
  color: var(--green-900);
  background-color: var(--grey-50);
  background-position: 1rem;
  background-repeat: no-repeat;
  border-radius: 0.3125rem;
  text-align: right;
  cursor: pointer;
}

.input:hover,
.input:focus {
   outline: 2px solid var(--green-400);
}

.input::placeholder {
  color: var(--grey-300);
}

.input-bill {
  background-image: url(./images/icon-dollar.svg);
}

.input-people {
  background-image: url(./images/icon-person.svg);
}

.error-msg {
  color: var(--orange-400);
}

.tip-group {
  max-width: 100%;
  display: grid;
  gap: var(--spacing-200);
  grid-template-columns: repeat(2, 1fr);
}

.tip {
  width: 100%;
  padding-block: var(--spacing-100);
  background-color: var(--green-900);
  color: var(--white);
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 250ms ease;
}

.tip:hover:not(:last-child) {
  background-color: var(--green-200);
  color: var(--green-900);
}

.input-custom {
  color: var(--grey-550);
  background-color: var(--grey-50);
  text-align: center;
}

.input-custom::placeholder {
  color: inherit;
}

/* Output container */
.output-container {
  padding-block: var(--spacing-300);
  padding-inline: var(--spacing-300);
  background-color: var(--green-900);
  border-radius: 0.9375rem;
}

.output-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-group:first-of-type {
  margin-block-end: var(--spacing-300);
}

.output-group:nth-of-type(2) {
  margin-block-end: var(--spacing-400);
}

.label-main-text {
  color: var(--white);
}

.label-sub-text {
  color: var(--grey-400);
}

.output {
  color: var(--green-400);
}

.btn {
  width: 100%;
  padding-block: var(--spacing-100);
  background-color: var(--green-750);
  color: var(--green-800);
  border-radius: 0.3125rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 250ms ease;
}

.btn:hover {
  background-color: var(--green-200);
}

/* Media Queries */
/* Media query > 640px (40rem) */
@media (min-width: 40rem) {
  .container {
    width: 38rem;
    margin-inline: auto;
    padding-block: var(--spacing-600);
    padding-inline: var(--spacing-1000);
    border-radius: 0.9375rem; 
  }

  .input-group {
    margin-block-end: var(--spacing-300);
  }

  .input-group:last-of-type {
    margin-block-end: var(--spacing-400);
  }

  .tip-group {
    grid-template-columns: repeat(3, 1fr);
  }

  .output-container {
    padding-block: var(--spacing-600);
    padding-inline: var(--spacing-600);
  }
}

/* Media query > 900px (56.25rem) */
@media (min-width: 56.25rem) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: var(--spacing-400);
  }

  .logo {
    margin-block-start: var(--spacing-0);
    margin-block-end: var(--spacing-600);
  }

  .container {
    width: 57.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-600);
    padding: var(--spacing-400);
  }

  .input-container {
    padding-block: var(--spacing-200);
  }

  .input-group:not(:last-child) {
    margin-block-end: 2.5rem;
  }

  .input-group:last-child {
    margin-block-end: var(--spacing-0);
  }

  .output-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .btn {
   margin-block-start: auto;
  }
}

/* JS classes */
/* Active state for tip + reset button */
.active {
  background-color: var(--green-400);
  color: var(--green-900);
}

.hidden {
  display: none;
}