/* Custom properties */
:root {
  /* Colors */
  --white: hsl(0 100% 100%);
  --black: hsl(0 0% 0%);
  --grey-600: hsl(180 25% 32%);
  --grey-550: hsl(180 18% 40%);
  --grey-500: hsl(186 14% 43%);
  --grey-400: hsl(184 14% 56%);
  --grey-300: hsl(184 19% 68%);
  --grey-200: hsl(185 41% 84%);
  --grey-50: hsl(189 47% 97%);
  --green-900: hsl(183 100% 15%);
  --green-800: hsl(183 85% 21%);
  --green-750: hsl(183 79% 24%);
  --green-400: hsl(172 67% 45%);
  --green-200: hsl(173 61% 77%);
  --orange-400: hsl(13 70% 60%);
  /* Spacing */
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
  --spacing-1500: 7.5rem;
  --spacing-1600: 8rem;
}

/* Typography */
.text-preset-1 {
  font-size: 3rem;
  line-height: 4.4375rem;
  letter-spacing: -0.0625rem;
}
.text-preset-2 {
  font-size: 2rem;
  line-height: 2.9375rem;
  letter-spacing: -0.041875rem;
}
.text-preset-3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.text-preset-4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.text-preset-5 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-preset-6 {
  font-size: 0.8125rem;
  line-height: 1.1875rem;
}

/* Reset & General styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  background-color: var(--grey-200);
  /* height: 100vh; */
}

/* Header */
.logo {
  margin-block: 2.5rem;
  margin-inline: auto;
}

/* Main */
.container {
  background-color: var(--white);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-block: var(--spacing-400);
  padding-inline: var(--spacing-300);
}

/* Input container */
.input-group {
  margin-block-end: var(--spacing-400);
  padding-inline: var(--spacing-100);
}

.input-group-header {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--spacing-100);
  color: var(--grey-500);
}

.input {
  width: 100%;
  padding-block: var(--spacing-100);
  padding-inline: var(--spacing-200);
  font-weight: inherit;
  color: var(--grey-300);
  background-color: var(--grey-50);
  background-position: 1rem;
  background-repeat: no-repeat;
  border-radius: 0.3125rem;
  text-align: right;
  cursor: pointer;
}

.input:hover,
.input:focus {
   outline: 2px solid var(--green-400);
}

.input::placeholder {
  color: inherit;
}

.input-bill {
  background-image: url(./images/icon-dollar.svg);
}

.input-people {
  background-image: url(./images/icon-person.svg);
}

.tip-group {
  max-width: 100%;
  display: grid;
  gap: var(--spacing-200);
  grid-template-columns: repeat(2, 1fr);
}

.tip {
  width: 100%;
  padding-block: var(--spacing-100);
  background-color: var(--green-900);
  color: var(--white);
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 250ms ease;
}

.tip:hover:not(:last-child) {
  background-color: var(--green-200);
  color: var(--green-900);
}

.input-custom {
  color: var(--grey-550);
  background-color: var(--grey-50);
  text-align: center;
}

.input-custom::placeholder {
  color: inherit;
}

/* Output container */
.output-container {
  padding-block: var(--spacing-300);
  padding-inline: var(--spacing-300);
  background-color: var(--green-900);
  border-radius: 0.9375rem;
}

.output-group {
  display: flex;
  justify-content: space-between;
}

.output-group:first-of-type {
  margin-block-end: var(--spacing-300);
}

.output-group:nth-of-type(2) {
  margin-block-end: var(--spacing-400);
}

.label-main-text {
  color: var(--white);
}

.label-sub-text {
  color: var(--grey-400);
}

.output {
  color: var(--green-400);
}

.btn {
  width: 100%;
  padding-block: var(--spacing-100);
  background-color: var(--green-750);
  color: var(--green-800);
  border-radius: 0.3125rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 250ms ease;
}

.btn:hover {
  background-color: var(--green-200);
}

/* Error state for input */
.error-msg {
  display: none;
  color: var(--orange-400);
}